body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}
// font-size
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
// margin-bottom
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
// padding-bottom
.pd-sm {
  padding-bottom: 16px !important;
}
.pd-lg {
  padding-bottom: 80px !important;
}
// content
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
